.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ddd;
  .title {
    margin-right: 10px;
  }
  .separator {
    margin: 0 20px;
  }
  input,
  select,
  button {
    border: none;
    padding: 10px;
  }
  button {
    &:hover {
      background: #aaa;
      color: #fff;
    }
  }
}